@media (prefers-color-scheme: dark) {

nav.toc,
body {
	color: var(--dark-text-color);
  background-color: var(--dark-background-color);
}
a {
  color: var(--dark-link-color);
}
main article ul,
main article {
	color: var(--dark-text-color);
}
main article header time,
main article header p,
main article h1,
main article h2,
main article h3,
main article h4,
main article h5,
h1,h2,h3,h4,h5 {
	color: var(--dark-title-color);
}
}

