:root {
	--main-text-color: black;
	--sans-serif: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
	--avenir: avenir next,avenir,sans-serif;
	--baskerville: baskerville,serif;
}

body {
	font-family: var(--sans-serif);
	margin: 0;
	padding: 0;
	line-height: 1.15;
	display: grid;
	grid-template-columns: 1fr;
	color: var(--main-text-color);
	width: 100%;
}

h1 {
	font-weight: 100;
	line-height: 1.5;
}

p {
	line-height: 1.5;
}

a {
	opacity: 1;
	text-decoration: none;
	background-color: transparent;
	color: rgb(65, 110, 210);
}

a:active {
	opacity: 0.8;
	transition: opacity 0.15s ease-out;
}

a:hover, a:focus {
	opacity: 0.5;
}

a, a:focus, a:hover {
	transition: opacity 0.15s ease-in;
}

hr {
	height: 1px;
	border: 0;
	background-color: rgba(0,0,0,.1);
}

ol {
	list-style-type: none;
	padding: 0;
}

section {
	font-family: var(--avenir);
	margin: auto;
	max-width: 60rem;
}

article {
	padding: 1rem 3rem;
}

figure {
	margin: 0;
}

figcaption {
	font-size: 0.75rem;
	color: #777;
	margin-top: 0.25rem;
}

figure img {
	width: 100%;
	object-fit: cover;
}

/* small logo images that show up in the middle of the text */
article p a img {
	width: 1.19rem;
	height: 1.19rem;
	transform: translate(0, 0.15rem);
}

article li {
	line-height: 1.7;
}

footer {
	text-align: center;
	padding: 0rem 3rem;
}
footer nav li {
	line-height: 1.5;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
footer nav h4 {
	white-space: break-spaces;
	font-weight: 500;
}


.logo {
	margin: auto;
	color: var(--main-text-color);
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;
}
.logo h1 {
	font-size: 1.15rem;
	color: #555;
	font-weight: 600;
	font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.logo h2 {
	font-size: 0.875rem;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #777;
}

.intro {
	padding-top: 6rem;
}

.intro article {
	display: grid;
}

.intro article figure {
	grid-row: 2;
}

.intro article h1 {
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
	margin-top: 0;
	line-height: 1.25;
}

.intro article p {
	font-size: 1rem;
	margin-top: 2rem;
}

.posts li {
	text-align: center;
	padding-bottom: 2.5rem;
}

.posts li a {
	font-size: 1.8rem;
	font-weight: 300;
}

.posts li time {
	color: #777;
}

.all-posts,
.all-posts + aside h2 {
	text-align: center;
}

main article {
	color: #222;
	box-sizing: border-box;
	max-width: 49rem;
	padding: 1rem 2rem;
	margin: auto;
}

main article a,
main article p {
	font-size: 1.15rem;
	font-weight: 300;
}

main article strong {
	font-weight: 500;
}

main article ul {
	list-style: square;
	color: #333;
}

main article header {
	text-align: center;
	padding-bottom: 0.5rem;
	margin-bottom: 3rem;
	border-bottom: 1px solid #777;
}

main article header h1 {
	font-size: 2.25rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
	padding-bottom: 0;
	line-height: 1.2;
}

main article header p {
	font-size: 1.55rem;
	font-weight: 300;
	color: #777;
	margin-top: 0;
	padding-top: 0;
	line-height: 1.2;
}

main article header time {
	color: #444;
	font-weight: 200;
	text-align: left;
}

main article header nav {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	margin-top: 3rem;
}

main article header nav span {
	text-align:right;
}
main article header nav a {
	font-size: 0.9rem;
	text-transform: uppercase;
	padding: 0.3rem;
	color: #777;
}

main article h2 a,
main article h2 {
	color: #222;
	font-size: 1.6rem;
	font-weight: 500;
}

main article h2 {
	margin-top: 1.8rem;
}

main article img {
	max-width: 100%;
	object-fit: cover;
}

main article pre {
	padding: 2rem 1rem;
}

main hr {
	margin-bottom: 0;
	padding-bottom: 0;
}

main footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
}
main footer nav {
	text-align: center;
	text-transform: uppercase;
	font-size: 0.85rem;
}

main footer nav a {
	padding: 1.5rem 1rem;
}


/* Non Mobile CSS */
@media screen and (min-width: 40em) {

.intro article {
	grid-template-columns: 1fr 1fr;
	grid-gap: 8%;
}

.intro article figure {
	grid-row: 1;
	margin-top: 4rem;
}

.intro article h1 {
	text-align: left;
}
main article {
	padding: 1rem 4rem;
}

main article header nav a {
	padding: 0.5rem;
}

footer {
	display: grid;
	grid-template-columns: repeat(2, minmax(120px, 1fr));
	grid-gap: 32px;
	text-align: left;
}
footer nav:first-of-type {
	grid-row: 1;
	grid-column: 2;
}
}
