{% extends "index.html" %}
{% block content %}
<main class="all-posts" role="main" id="main-content">
	<h2>{{ section.title }}</h2>
	<p>Here is a full list of articles that I have written</p>
	<ol class="posts new">
		{% for page in section.pages %}
			{% if page.draft %}{% continue %}{% endif %}
			{% if page.date | date(format="%s") | int > 1591488000 %}
				<li>
					<a href="{{ page.permalink }}">{{ page.title }}</a>
					<span>
						<p> {{ page.description }} </p>
						<time datetime="{{ page.date }}">{{ page.date | date(format="%v") }}</time>
					</span>
				</li>
			{% endif %}
		{% endfor %}
	</ol>
</main>

<aside>
	<h2>Some older posts</h2>
	<ol class="posts old">
		{% for page in section.pages %}
			{% if page.draft %}{% continue %}{% endif %}
			{% if page.date | date(format="%s") | int <= 1591488000 %}
				<li>
					<a href="{{ page.permalink }}">{{ page.title }}</a>
					<span>
						<p> {{ page.description }} </p>
						<time datetime="{{ page.date }}">{{ page.date | date(format="%v") }}</time>
					</span>
				</li>
			{% endif %}
		{% endfor %}
	</ol>
</aside>
{% endblock content %}
